@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');


html{
    font-family: 'Oswald', sans-serif;
    background-color: #171717;
    color: #D3D3D3;
    font-size: 12pt;
    font-weight: 400;
    scroll-behavior: smooth;
}
.h2{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(226, 185, 44);
    margin-top: 0;
    padding-top: 40px;

    margin-bottom: 15px;
}
p{
    line-height: 1.5em ;
}

.hidden{
    display: none;
}
header{
    position: absolute;
    width: calc(100vw - 8px);

}
.header__content{
    display: block;
    width: 190px;
    margin: 0 auto;
    margin-top: 55px;
   
}
.logo{
    width: 190px;
}
.header__content__subtitle{
    width: 190px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.header__content__btn{
    background-color:rgb(226, 185, 44);
	border-radius:28px;
	color: #171717;
	display: block;
	cursor:pointer;
    font-size: 30px;
    font-weight: 600;
    padding: 8px 0;
    width: 160px;
    margin: 10px auto;
    text-align: center;
}
.header__content__btn:hover{
    background-color:#696969;

	color: rgb(226, 185, 44);
}

a{
    text-decoration: none;
    color: inherit;
}
.nav{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.774);
   backdrop-filter: blur(3px);
   width: 100vw;
    left: 0;
    top: 0;
}
.nav__ul{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 30px;
    padding-inline-start: 0;
    list-style-type: none;
}
.nav__ul li{
    width: 100%;
    height: 50px;
    text-align: center;
    text-decoration: none;
}
.nav__ul__li--hiden{
    display: none;
   
}
.nav__ul__a{
   padding-top: 10px;
   font-size: 23px;
   text-transform: uppercase;
   font-weight: 500;
   color: rgb(226, 185, 44);
}
.navbtn span{
    font-size: 35px;
position: relative;
top: 15px ;
left: 12px;
}
.navbtn{
    position:fixed;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(226, 185, 44);
    right: -15px;
    top: 25vh;
}
.main{
    margin: 0 15px;
}
.selection__beer__photo{
    display: block;
    padding-top: 15vh;
    height: 85vh;
    padding-bottom: 0;
    padding-top: calc(var(--vh, 1vh) * 13);
    padding-bottom:calc(var(--vh, 1vh) * 2) ;
    height:  calc(var(--vh, 1vh) * 85);
    margin: 0 auto;
}

.selection__btn{
    position: absolute;
    top: 60vh;
    top: calc(var(--vh, 1vh) * 60);
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
}
.selection .selection__btn--absolute{
    position: absolute;
}
.selection__beer--hidden{
display: none;
}
.selection{
    margin: 0 20px;
}

#btnLeft{
    left: 15px;
    border-right: 26px solid rgb(226, 185, 44);
}
#btnRight{
    right: 15px;
    border-left: 26px solid rgb(226, 185, 44);

}

.selection__beer__text{
    text-align: justify;
}
.aboutus{
    max-width: 500px;
    text-align: justify;

}
.gallery__content{
    display: grid;

    gap: 8px;
    width: 100%;
    max-width: 600px;
}
.gallery__fig{
margin: 0px;


}
.gallery__fig__img{
    display: block;
    width: 100%;
    object-fit: cover ;
}
.contact__p{
    display: block;
    text-decoration: none;
    margin: 10px 0;
    color: rgb(226, 185, 44);
}
.contact__social__link{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(226, 185, 44);
    
}
.contact__social__link:hover{
    background-color:#696969;

	color: rgb(226, 185, 44);
}
.contact__social__link span{
font-size: 35px;
position: relative;
top: 15px ;
left: 15px;

    
}
.contact__social{
display: flex;
justify-content: space-between;
margin:15px 0;
}



@media (min-width:340px) {
    .selection{
        margin: 0 30px;
    }
  .selection__btn{
      position: fixed;
  }
}

@media (min-width: 400px) {
    .main{
        margin:0 25px
    }
    .selection{
        margin: 0 20px;
    }
    .gallery__content{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .contact__social{
       
        justify-content: start;
       
    }
    .contact__social__link{
        margin-right: 15px;
    }
 
}

@media (min-width: 1150px) {
    .main{
        margin:0 60px;
       
    }
    .selection__beer .selection__beer__text--selected{
        visibility: visible;
       width: 350px;
       color: #D3D3D3;
       animation: beerTextReveal .7s linear;
       }
 .selection__btn{
     display: none;
 }
 .selection__beer--hidden{
     display: block;
 }
 .selection{
     display: flex;
     margin: 0;
     justify-content: space-around;
 }
 .nav__ul li{
    width: auto;

}
 .selection__beer{
     display: flex;
    
 }
 .selection__beer__photo{
    display: block;
    padding-top: 30vh;
    height: 68vh;
    padding-bottom: 0;
    padding-top: calc(var(--vh, 1vh) * 30);
    padding-bottom:calc(var(--vh, 1vh) * 2) ;
    height:  calc(var(--vh, 1vh) * 68);
    margin: 0 auto;
}
.selection__beer__text{
    overflow: hidden;
    visibility: hidden;
    color: #171717;
    width: 0px;
   height: 150px;
    margin-top: 60vh;
    margin-top:  calc(var(--vh, 1vh) * 60);
    animation: beerTextDissapear .7s linear;
   
    
}
.nav{
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, var(--pY));
    backdrop-filter: blur(0px);
}
.nav__ul{
    flex-direction: row;
    background-color: none;
    justify-content: space-between;
    margin:30px 60px;
    margin-bottom: 0;
   
}
.navbtn{
     display: none;
 }
 .nav__ul__li--hiden{
    display: block;
}
}
@media (min-width: 1600px) {
    .main{
        margin:0 auto;
        max-width: calc(1600px - 60px);
    }
    .nav__ul{
        margin:30px auto;
        max-width: calc(1600px - 60px);
        margin-bottom: 0;
    }
 }
 @media (min-width: 2000px) {
    .header__content{
 
        margin-top: 70px;
       
    }
 }
 @keyframes beerTextReveal {
    0% {color: #171717; visibility: none; width: 0px;}
     70% { color: #171717; visibility: visible; width: 350px;}
     100% { color: #D3D3D3; visibility: visible; width: 350px; }
 }
 @keyframes beerTextDissapear {
     0% { color: #171717; visibility: visible; width: 350px;}
     70% {color: #171717; visibility: none; width: 0px; }
 }

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
  }
  
 
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46);
  }